* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  
  padding: 25px;
  background-color: rgb(207, 200, 214);
}

nav {
  border: 1px solid;
  width: fit-content;
  /* background:rgb(196, 191, 191); */
  height: 100%;
}

.main{
display: flex;
}

.container{
  text-align: center;
}

ul{
  list-style-type: none;
}
/* #main-form {
  margin: 30px auto;
  width: 80%;
} */

.card {
  width: 30rem;
  margin: 10px auto;
}