* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  
  padding: 25px;
  background-color: rgb(207, 200, 214);
}

nav {
  border: 2px solid;
  width: fit-content;
  background:rgb(196, 191, 191);
}

ul{
  list-style-type: none;
}
#main-form {
  margin: 30px auto;
  width: 80%;
}